body {
  padding-top: 120px;
  background-color: white;
  color: rgb(0, 0, 0);
}

.btn {
  margin: 0.25em;
}
.col-md-6 {
  position: "absolute";
  left: "500px";
}

.display-3 {
  color: #4a4444;
}

.lead {
  color: #4a4444;
}

.p {
  color: #4a4444;
}

@media (min-width: 768px) {
  body > .navbar-transparent {
    box-shadow: none;
  }

  body > .navbar-transparent .navbar-nav > .open > a {
    box-shadow: none;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;

  /* display: grid; */
  place-items: center;

  color: #000000;
}

details {
  margin-bottom: 00px;
  border: 2px solid #aaa;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
details:not(:last-child) {
  margin-bottom: 10px;
}

.letra-sumario {
  font-size: 12px;
  margin-left: 150px;
}

.direta-longa {
  font-size: 12px;
  text-align: justify;
  margin-left: 150px;
}

.centralizar {
  color: #1c1c1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralizar-nome{
  font-size: 70px;
  color: #1c1c1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

summary,
details[open] {
  padding: 10px;
  color: #4a4444;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
}

.navbar {
  list-style-type: none;
  display: inline-block;
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 75px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  padding: 0;
  overflow: hidden;
  background-color: #9edec6;
}

.navbar-brand {
  height: 30px;
  font-size: 50px;
}

.navbar-brand-dois,
.navbar-brand-dois:hover {
  height: 20px;
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-size: larger;
  font-size: 20px;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu {
  opacity: 0;
}

.button1 {
  align-items: center;
}

.sla {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-top: 22px;
}

.mono {
  width: 300px;
}

.menu-button {
  position: relative;
  margin-top: 10px;
  right: 20px;
  bottom: -15px;
  height: 35px;
  width: 40px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-profile {
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */
}

.table, th, td{
  color: #1c1c1b;
  font-size: 25px;
  background-color: #a0dcc413;
}


.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.card-header {
  font-weight: bold;
  font-size: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
}

.card-body {
  color: #1c1c1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-3 {
  color: #1c1c1b;
  max-width: 80rem;
}

.card {
  max-width: 80rem;
  margin-bottom: 15px;
}

.clicavel {
  cursor: pointer;
}

.erro {
  color: red;
  font-size: large;
}

.none {
  background-color: #a0dcc4;
  font-weight: bold;
  color: rgb(34, 34, 34);
  font-size: large;
  border: #a0dcc4;
  height: auto;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a0dcc4;
  overflow-x: hidden;
  padding-top: 115px;
  transition: 0.5s;
}
.centralizar-ranking {
  color: #1c1c1b;
  font-size: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar a {
  padding: 2px 2px 2px 4px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(34, 34, 34);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  color: rgb(34, 34, 34);
  font-size: 22px;
}

.sidebar .closebtn {
  justify-content: flex-end;
  display: block;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .closebtn {
  position: absolute;
  top: 60px;
  box-shadow: none;
  background-color: #a0dcc4;
  font-weight: bold;
  color: rgb(34, 34, 34);
  font-size: large;
  border: #a0dcc4;
  height: auto;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  transition: 0.3s;
}

.sidebar .closebtn:hover {
  box-shadow: none;
  color: rgb(34, 34, 34);
  font-size: 40px;
  transition: 0.3s;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.bigFont {
  font-size: large;
}
